* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* CONTAINER SUPERIOR */
.top-container {
    width: 100%;
    height: 56px;
    background-color: #9b4caf;
    color: white;
    padding: 12px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* CONTAINER LATERAL */
.side-container {
    width: 250px;
    height: 100vh; /* Ocupa toda a altura da janela */
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px; /* Espaço para o topo */
    overflow-y: auto;
}

.side-container ul {
    list-style: none;
    padding: 0;
}

.side-container ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.side-container ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.side-container ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px; /* Espaço para o menu lateral */
    margin-top: 80px; /* Espaço para o container fixo */
    padding: 20px;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #555;
}